body {
  background: black;
  color: white;
}

.library-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10%;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.display-books-container {
  display: flex;
  flex-direction: column;
  background: repeating-linear-gradient(90deg, rgb(69, 225, 124), rgb(42, 197, 224));;
  width: 70%;
  height: 40%;
  max-height: 100%;
  border: 3px solid rgb(15, 108, 136);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px black;
}

.display-book {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  width: 100%;
}

.display-book-details {
  display: flex;
  align-items: center;
  margin-right: 6px;
  background: rgb(55, 55, 216);
  padding: 0 3px 0 3px;
  width: 100%;
  color: rgb(254, 254, 254);
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 2px 4px black;
  text-shadow: 1px 2px 4px rgb(5, 5, 5);
}

.display-book button {
  background: rgb(55, 55, 216);
  color: rgb(254, 254, 254);
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 2px 4px black;
  text-shadow: 1px 2px 4px rgb(5, 5, 5);
}

.display-book button:active {
  background: rgb(250, 109, 15);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(34, 30, 30);
  border-radius: 5px;
  box-shadow: 1px 2px 4px black;
  text-shadow: 1px 2px 2px rgb(9, 9, 9);
} 

.underline {
  margin-top: 20px;
  width: 20%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.input-container input {
  max-width: 280px;
  width: 250px;
  height: 20px;
  margin: 5px 0 5px 0;
}

.input-container button {
  width: fit-content;
}

.add-btn-container {
  display: flex;
  justify-content: end;
  width: 255px;
}

h4 {
  margin: 8px 10px 0 0;
  padding-bottom: 10px;
  text-transform: capitalize;
}

h5 {
  margin: 4px 0 0 0;
  padding-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

