::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-track{background:#11ee48a6;}
::-webkit-scrollbar-thumb{
  background:#db5b0c;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{background:#cb098ac8;}


body {
  height: 88vh;
  background: black;
  color: white;
  background: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 1px 2px 3px #000;
}

.library-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10%;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.display-books-container {
  display: flex;
  flex-direction: column;
  /* background: repeating-linear-gradient(90deg, rgb(69, 225, 124), rgb(42, 197, 224)); */
  width: 50%;
  height: 40%;
  max-height: 100%;
  border: 20px solid rgba(101, 250, 15, 0.322);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px rgb(0, 0, 0);
}

.display-book {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  width: 100%;
}

.display-book-details {
  display: flex;
  align-items: center;
  margin-right: 6px;
  background: rgba(55, 55, 216, 0.592);
  padding: 0 3px 0 3px;
  width: 100%;
  color: rgb(254, 254, 254);
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 2px 4px black;
  text-shadow: 1px 2px 4px rgb(5, 5, 5);
}

.display-book button {
  background: rgba(55, 55, 216, 0.592);
  color: rgb(254, 254, 254);
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 2px 3px black;
  text-shadow: 1px 2px 3px rgb(5, 5, 5);
}

.display-book button:active {
  background: rgba(250, 109, 15, 0.592);
} 

.underline {
  margin-top: 20px;
  width: 20%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.input-container input {
  color: rgb(245, 240, 240);
  background: rgba(215, 96, 6, 0.292);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  max-width: 280px;
  padding: 10px;
  width: 270px;
  height: 20px;
  margin: 5px 0 5px 0;
  border-radius: 5px;
  border: 2px solid rgba(100, 105, 119, 0.64);
  outline: none;
  box-shadow: 1px 2px 3px rgb(0, 0, 0);
  text-shadow: 1px 2px 3px #000000;
}

.input-container input:hover {
  background: rgba(255, 255, 255, 0.819);
  color: rgb(45, 42, 42);
  text-shadow: 1px 2px 3px #ffffff;
  border: 2px solid #db5b0c;
}

.add-btn-container {
  display: flex;
  justify-content: end;
  width: 285px;
  margin-top: 5px;
}

.input-container button {
  width: 80px;
  height: 30px;
  background: rgba(55, 55, 216, 0.592);
  color: rgb(254, 254, 254);
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 2px 4px black;
  text-shadow: 1px 2px 4px rgb(5, 5, 5);
}

.input-container button:active {
  background: rgba(250, 109, 15, 0.592);
}

h4 {
  margin: 8px 10px 0 0;
  padding-bottom: 10px;
  text-transform: capitalize;
}

h5 {
  margin: 8px 0 0 0;
  padding-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

